MyoHMI_Android/.gradle
MyoHMI_Android/.idea
MyoHMI_Android/.iml
MyoHMI_Android/build/
MyoHMI_Android/.navigation
MyoHMI_Android/captures/
MyoHMI_Android/output.json 

MyoHMI_Android/#.idea/workspace.xml